@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Merriweather:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

::after,
::before {
  box-sizing: border-box;
}
:root {
  /* COLORS  */
  /* primary */
  --primary-0: #f0efff;
  --primary-50: #d8d6ff;
  --primary-100: #c1beff;
  --primary-200: #aaa5ff;
  --primary-300: #938dff;
  --primary-400: #7b74ff;
  /* main */
  --primary-500: #645cff;
  --primary-600: #554ed9;
  --primary-700: #4640b3;
  --primary-800: #37338c;
  --primary-900: #282566;
  --primary-1000: #191740;
  --primary-1100: #0a0919;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* beige */
  --beige-0: #fbfaf9;
  --beige-50: #faf0e6;
  --beige-100: #fff0db;
  --beige-200: #eed9c4;
  --beige-300: #e4d5b7;
  --beige-400: #d9b99b;

  /* rest */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* typography */
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Navbar */

.nav-container {
  display: flex;
  justify-content: space-between;

  width: 95vw;
  /* margin: 0 auto; */
  padding: 50px 10px 0 10px;
  /* z-index: 3; */
}

.logo {
  flex: 1;
  cursor: pointer;
}

.logo-span {
  color: #e8e3e3;
}

.nav-links {
  display: none;
}

.links:hover {
  color: #9e9a9a;
}

.socials {
  display: none;
}

/* smaller screens */

.mini-nav {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.911);
  height: 93%;
  width: 70%;
  padding: 2rem;
  transition: all 1s;
}

.bar {
  font-size: 25px;
  cursor: pointer;
}

.mini-nav.hide {
  left: -200%;
}

.mini-links {
  margin: 3.5rem 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.mini-socials {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 769px) {
  .nav-container {
    width: 85vw;
    margin: 0 auto;
    padding-top: 50px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    flex: 1;
  }
  .links {
    margin: 0 2rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
  }

  .socials {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  .btn-socials {
    margin: 0 0.5rem;
    border: none;
    border-radius: 7px;
    background: transparent;
    padding: 0.6rem 0.8rem;
    box-shadow: 0px 0px 2px 2px rgba(211, 209, 209, 0.463);
    cursor: pointer;
  }

  .sidebar {
    display: none;
  }

  .mini-nav {
    display: none;
  }
}

/* Main content */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../public/image/pexels-rania-alhamed-2454533.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  filter: blur(5px);
  /* filter: opacity(30%); */
  z-index: -1;
}

.main_container {
  margin-top: 40px;
  height: 50vh;
  width: 85vw;
  margin: 10rem auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.loading_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************** Spinner ***************************/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--primary-500);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************** Spinner ***************************/

.heading {
  font-size: 45px;
  font-weight: 500;
  line-height: 3.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: var(--letterSpacing);
}

.heading-span {
  font-weight: 600;
  color: #f2cb9c;
  text-align: center;
}

.main_container p {
  font-size: 18px;
  text-align: center;
}

.main-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-main {
  padding: 15px 25px;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 255, 0.738);
  box-shadow: 0px 0px 2px 1px rgba(157, 155, 155, 0.788);
  margin: 15px 5px;
  cursor: pointer;
}

.btn-main:hover,
.btn-socials:hover {
  background: var(--grey-100);
}

.food_image {
  display: none;
}

@media screen and (min-width: 650px) and (max-width: 768px) {
  .heading {
    font-size: 60px;
    line-height: 5rem;
  }

  .btn-main {
    padding: 30px 45px;
    border-radius: 40px;
    font-size: 20px;
  }

  .main_container p {
    font-size: 24px;
  }
}
@media screen and (min-width: 769px) {
  .main_container {
    margin: 40px 0 0 0;
    height: 50vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 125px;
  }

  .heading {
    font-size: 64px;
    line-height: 5rem;
  }

  .action-text {
    padding-top: 100px;
  }

  .btn-main {
    padding: 15px 30px;
    border-radius: 30px;
    margin: 20px 10px;
  }

  .food_image {
    display: block;
    width: 900px;
    height: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .overlay {
    display: none;
  }

  @media screen and (max-width: 850px) {
    .food_image {
      top: 30%;
      width: 800px;
      height: 75%;
    }
  }
}

/* Reviews */
.menu {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  padding: 3rem 0;
}

@media screen and (min-width: 900px) {
  .menu {
    grid-template-columns: 1fr 1fr;
  }
}

.heading {
  text-transform: capitalize;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  margin-top: 15px;
}

.underline {
  width: 150px;
  height: 1px;
  margin: 0 auto;
  background: brown;
}

.movie {
  width: 60%;
  padding: 2rem 0;

  border: solid;
  border-width: 0.5px 0 0.1px 0;
  border-color: rgba(123, 123, 123, 0.25) transparent;
}

@media screen and (min-width: 900px) {
  .movie {
    width: 80%;
  }
}

.title h2 {
  /* font-family: "Merriweather", serif; */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.7px;
  line-height: 2;
  /* color: brown; */
}

@media screen and (max-width: 769px) {
  .title h2 {
    font-size: 15px;
  }
}

.details {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.rating,
.genre,
.direct {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.397);
}

.rating {
  padding: 0 10px 0 0;
  border: 1px solid;
  border-color: transparent rgba(0, 0, 0, 0.139) transparent transparent;
}

.genre {
  padding: 0 10px 0 0;
  margin-left: 10px;
  border: 1px solid;
  border-color: transparent rgba(0, 0, 0, 0.139) transparent transparent;
}

.direct {
  padding: 0 10px;
  border: 1px solid;
  border-color: transparent;
}

.info {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: rgb(54, 53, 53);
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

@media screen and (max-width: 769px) {
  .info {
    font-size: 11px;
  }
}

.byline {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.397);
  margin-bottom: 15px;
}

@media screen and (max-width: 769px) {
  .genre,
  .rating,
  .direct,
  .byline {
    font-size: 10px;
  }
}

span {
  text-transform: capitalize;
}

.headline {
  text-transform: capitalize;
  font-family: "Playfair Display", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: rgba(150, 7, 7, 0.397);
  font-style: italic;
}

/* Login and Form */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-block {
  width: 100%;
  margin-top: 2rem;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */
/* create review */

.container {
  margin-top: 50px;
}

.form {
  width: 70vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .form {
    width: 90vw;
  }
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.extra {
  margin-top: 2rem;
}

.form-input,
.form-textarea,
select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  outline: none;
}

.field-input {
  margin: 0;
}

.field-label {
  font-size: 14px;
  margin-left: 3px;
}

fieldset {
  border: none;
  padding: 0.4rem 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

select {
  display: block;
  font-size: var(--smallText);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.5rem;
  display: none;
}

.login_text {
  font-size: 10px;
  text-align: center;
}

.login_span {
  color: var(--primary-200);
  cursor: pointer;
  margin-left: 5px;
}

/* title */

.title {
  text-align: center;
  font-size: 16px;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/* Form */

.form-section {
  padding: 0 10px;
  margin: 4rem auto;
}

.contact-form,
.book-form {
  max-width: 400px;
}

.contact-form h5 {
  text-align: center;
}

.google_login {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.2rem;
}

.google_btn {
  background-color: transparent;
  color: var(--primary-500);
  padding: 0.7rem;
}

.google_btn:hover {
  color: #fff;
}

.line {
  line-height: 0.9px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #e2e4e5;
  margin-top: 26px;
}

.line_span {
  background-color: #fff;
  color: #969fa7;
  font-size: 14px;
  letter-spacing: 0.57px;
  padding: 0 15px;
}

/* Review */
.output_container {
  margin-top: 10px;
  width: 100vw;
}

.output {
  width: 100vw;
  height: auto;
  padding: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.error_msg {
  margin-top: 10px;
  text-align: center;
  color: white;
}
.book {
  background: linear-gradient(95deg, rgba(12, 9, 18, 0.832), #08071289);
  display: flex;
  flex-direction: column;

  margin: 0 25px 25px 25px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(84, 82, 82, 0.251);
}

.book p {
  font-size: 14px;
  color: var(--white);
}

.book span {
  font-weight: 700;
  color: var(--primary-300);
}

.book_icons {
  display: flex;
  justify-content: space-between;
}

.book_icons button {
  background: transparent;
  cursor: pointer;
}

.delete-btn,
.edit-btn {
  border: none;
}

.icons {
  color: #fff;
}

.icons:hover {
  color: rgb(202, 200, 200);
}

.icons:active {
  color: #fff;
}

/* Modal */

.modal {
  position: absolute;
  left: 0;
  top: 0;
  background: #837dffbf;
  width: 100vw;
  min-height: 100%;
  height: auto;
  transition: all 0.5s;
}

.modal .form_container {
  margin-top: 5%;
}

.modal_form {
  position: relative;
  background: var(--black);
}

.modal_heading {
  text-align: center;
  color: var(--grey-50);
}

.modal label {
  color: var(--white);
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal_icon {
  color: red;
  font-size: 2rem;
}
